<tr>
    <td>
        <%= item.item_no %>
    </td>
    <td>
        <%= item.item_code %>
    </td>
    <td>
        <%= item.item_name %>
    </td>
    <td>
        <%= item.make %>
    </td>
    <td>
        <%= item.model %>
    </td>
    <td>
        <%= item.unit_of_measurement %>
    </td>
    <td>
        <%= item.description %>
    </td>
    <td>
        <%= item.created_by %>
    </td>
    <td>
        <%= item.created_date.getDate() %>/<%= item.created_date.getMonth() + 1 %>/<%= item.created_date.getFullYear() %>
    </td>
</tr>